module.exports = {
	defaultTitle: 'portfolio site title',
	logo: './favicon/favicon-512.png',
	author: '<author name for seo>',
	url: '<portfolio website url>',
	legalName: 'Your legal name',
	defaultDescription: 'default hero description',
	social: {
		github: {
			name: 'Github',
			icon: './icons/github.svg',
			url: '<github link>'
		},
		linkedin: {
			name: 'LinkedIn',
			icon: './icons/linkedin.svg',
			url: '<linkedin profile>'
		}
    },
	githubLogin: '<github login id>',
	googleAnalyticsID: '<GA Id for tracking>',
	themeColor: '#895ed3',
	secondaryColor: '#5ed389',
	backgroundColor: '#ffffff',
	address: {
		city: '<your city>',
		country: '<your country>',
	},
	contact: {
		email: '<your email address>,
		phone: '<your phone number>',
	},
	foundingDate: '2019',
	recaptcha_key: '<recaptacha public site key>,
}
